# mod
CONFIG_LUCI_LANG_zh_Hans=y
# CONFIG_PACKAGE_qrencode=y
# CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_ddns-scripts-cloudflare=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_luci-app-passwall2=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Hysteria=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Shadowsocks_Libev_Client=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Shadowsocks_Libev_Server=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Shadowsocks_Rust_Client=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Shadowsocks_Rust_Server=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_ShadowsocksR_Libev_Client=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_ShadowsocksR_Libev_Server=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Simple_Obfs=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_V2ray_Plugin=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Haproxy=n
CONFIG_PACKAGE_haproxy=n
CONFIG_PACKAGE_luci-app-gecoosac=y
# CONFIG_PACKAGE_zram-swap=y
CONFIG_ATH11K_MEM_PROFILE_1G=y
CONFIG_IPQ_MEM_PROFILE_1024=y
CONFIG_KERNEL_IPQ_MEM_PROFILE=1024
